<section class="bg-primary full-height centered-vertical-container" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What furniture should be.</h2>
                <hr class="light">
                <p class="text-faded">We specialize in designing innovative, simple furniture solutions. Built to last a long time.</p>
                <p class="text-faded"></p>
                <a href="#" class="btn btn-default btn-xl">Get in touch</a>
            </div>
        </div>
    </div>
</section>
