<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A new standard.</h2>
                <hr class="light">
                <p class="text-faded">After years of design and testing, we have finally found the perfect balance of aesthetics, features, and ease of use. It has been engineered with durability in mind, able to survive abuse, misuse, and cats. In our opinion, this desk defines the standard for what a state of the art laptop desk should be.</p>
                <p class="text-faded">No screws. No tools. Built to last. Made in the USA.</p>
                <a href="#" class="btn btn-default btn-xl">Get in touch</a>
            </div>
        </div>
    </div>
</section>
